<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1>
    <%= current_user.name %>
</h1>
<span>
    <%= "Currently selling: " %>
    <%= pluralize(current_user.sellingbooks.count, "book") %>
</span>
<span>
    <%= "Currently wanting: " %>
    <%= pluralize(current_user.wantedbooks.count, "book") %>
</span>
<span>
  <%= link_to "View Profile for Full List", current_user %>
</span>
